%form.user-form{'ng-submit': 'loginCtrl.submit()', novalidate: true}
  .input-field
    %label{for: 'email'}
      Email
    %input.user-form-input{name: 'email', type: 'text', 'ng-model': 'loginCtrl.user.email'}
  .input-field
    %label{for: 'password'}
      Password
    %input.user-form-input{name: 'password', type: 'password', 'ng-model': 'loginCtrl.user.password'}
  %input.btn{type: 'submit', value: 'Register'}
