/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$primary-color: #3F51B5;
$small: 320px;
$large: 1024px;


@media only screen and (min-width: $large) {
  .left-menu-button {
    display: none;
  }

  header, main, footer {
    padding-left: 300px;
  }

  .container {
    width: 85%;
  }
}

@media only screen and (min-width: $small + 1) and (max-width: $large - 1) {

}

@media only screen and (max-width: $small) {
  header, main, footer {
    padding-left: 0;
  }
}


.angular-google-map-container {
  height: calc(100vh - 56px);
}

.indigo {
  .input-field {
    color: rgba(255, 255, 255, 0.87);
    border-color: rgba(255, 255, 255, 0.87);

    label {
      color: rgba(255, 255, 255, 0.26);
    }

    abbr {
      text-decoration: none;
      border-bottom: none;
    }

    input {
      width: 60%;
      transition: width 0.3s ease-in-out;
      border-color: rgba(255, 255, 255, 0.87);

      &:focus {
        width: 100%;
        border-color: rgba(255, 255, 255, 0.87);
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.87);
        outline: none;
      }
    }
  }
}

.sign-up-submit {
  width: 60%;
  margin: 0px auto;
  transition: width 0.3s ease-in-out;
}
.sign-up-submit.form-filled {
  width: 100%;
}

.login-form {
  input.btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: $primary-color;
    border-radius: 0;

    &:active {
      background-color: darken($primary-color, 5);
    }
  }
}

.side-nav li {
  &.user-panel {
    line-height: 1.5;
    border-bottom: 1px solid #5C6BC0;
    > .indigo {
      padding-top: 1em;
      margin-top: -1em;
      overflow: hidden;
    }
  }

  ng-md-icon {
    vertical-align: middle;
    line-height: 1;
    display: inline-block;
  }

  .collapsible-body {
    ul {
      li {
        a {
          padding: 0 37.5px 0 45px;
        }
      }
    }
  }

  .collapsible-header {
    color: white;

    .less {
      display: none;
    }

    &.active {
      .less {
        display: inline-block;
      }
      .more {
        display: none;
      }
    }
  }
}

.nav-subcat {
  color: white;
  padding-left: 10px;
}
.subcat{
  color: black;
  text-align: left;
  text-transform: none;
}
.adwords-area {
  width: 100%;
  color: rgba(100, 100, 100, 0.2);
  text-align: center;
  vertical-align: middle;
}
.search-wrapper {
  position: relative;

  input.search-box {
    color: white;
    padding-left: 26px;
    width: 250px;

    &:focus {
      border-color: rgba(255, 255, 255, 0.87);
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.87);
    }
  }

  ng-md-icon.search {
    position: absolute;
    top: 11px;
  }
}

.autocomplete-item {
  color: black;
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
